# Archivos y directorios generados por IntelliJ IDEA
/.idea/
/*.iml
/.idea/workspace.xml
/shelf/

# Directorios de salida
/out/
/target/
target/

# Archivos de configuración específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de compilación
*.class

# Archivos de logs
*.log

# Archivos de configuración de Maven
.mvn/
.settings/